
packages/*
RocketMan/obj/*
.git/*
.vs/*
.vs/RocketMan/*
.idea/*
.vs/RocketMan/xs/UserPrefs.xml
.vs/RocketMan/xs/project-cache/UIFramework-Debug.json
.vs/RocketMan/xs/project-cache/Soyuz-Debug.json
.vs/RocketMan/xs/project-cache/RocketManMod-Debug.json
.vs/RocketMan/xs/project-cache/RocketManLite-Debug.json
.vs/RocketMan/xs/project-cache/RocketMan-Release.json
.vs/RocketMan/xs/project-cache/RocketMan-Debug.json
.vs/RocketMan/xs/project-cache/RocketLite-Debug.json
.vs/RocketMan/xs/project-cache/Rocketeer-Debug.json
.vs/RocketMan/xs/project-cache/Proton-Debug.json
.vs/RocketMan/xs/project-cache/Manager2-Debug.json
.vs/RocketMan/xs/project-cache/Gagarin-Debug.json
.vs/RocketMan/v16/.suo
.idea/.idea.RocketMan/.idea/workspace.xml
.idea/.idea.RocketMan/.idea/vcs.xml
.idea/.idea.RocketMan/.idea/riderModule.iml
.idea/.idea.RocketMan/.idea/projectSettingsUpdater.xml
.idea/.idea.RocketMan/.idea/modules.xml
.idea/.idea.RocketMan/.idea/indexLayout.xml
.idea/.idea.RocketMan/.idea/encodings.xml
.idea/.idea.RocketMan/.idea/contentModel.xml
.idea/.idea.RocketMan/.idea/.name
